<div class="proyectos">    
    <div class=" row recuadro">
        <h1 id="tituloedit">Proyectos realizados</h1>
        <div class="col-sm-12 col-md-6 col-lg-7 colum1">
            <span>
                <h3>Proyecto1</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique sint doloribus voluptate error, enim ex sapiente quos incidunt pariatur asperiores repellat aspernatur officia cum debitis labore eum sunt neque ut?</p>
                <h6>Estado: </h6>
                <p>fecha de realizacion: </p>                
            </span>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 offset-md-1 offset-lg-1 colum2">
            <img src="https://dummyimage.com/300x200/000/fff.png" class="img-fluid"  alt="imagenproyecto1">
        </div>
    </div>    
</div>