<div id="educa">
    <h1>Educacion</h1>
        <!--INICIO DE EDUCACION-->
        <div class ="row">
          <div class="col-auto">
            <img src="../../../assets/logoUNC.png" alt="Logo UNC"  width="100" height="80">
          </div>
          <div class="col-auto">
            <strong>UNC</strong><br>
            Computacion<br>
            2018 - actualmente<br>
            Cordoba - Argentina<br>
          </div>          
        </div>        
        <!--FIN DE EDUCACION-->
        <!--INICIO DE EDUCACION-->
        <div class ="row">
          <div class="col-auto">
            <img src="../../../assets/logoSENA.png" alt="Logo SENA"  width="100" height="80">
          </div>
          <div class="col-8">
            <strong>SENA</strong><br>
            Tecnologo Mantenimiento de Equipos de Computo, Diseño e Instalacion de Cableado Estructurado<br>
            2014 - 2015<br>
            Bogota - Colombia<br>
          </div>          
        </div>        
        <!--FIN DE EDUCACION-->
        <!--INICIO DE EDUCACION-->
        <div class ="row">
          <div class="col-auto">
            <img src="../../../assets/logofatima.jpg" alt="logo colegio fatima"  width="100" height="80">
          </div>
          <div class="col-auto">
            <strong>IED Nuestra Señora de Fatima</strong><br>
            Bachiller Academico<br>
            2010 - 2011<br>
            Sasaima Cundinamarca - Colombia<br>
          </div>          
        </div>        
        <!--FIN DE EDUCACION-->
</div>
         
         