<div id="exper">
  <!--Experiencias-->
  <h1>Experiencia</h1>
  <!--INICIO DE EXPERIENCIA LABORAL-->
  <div class ="row">
    <div class="col-auto" >
      <img src="../../../assets/apexamerica.png" id="margenimagenes" width="100" height="50" alt="APEX America" title="APEX America" >
    </div>
    <div class="col-auto" id="detalle">
      <span>
        <p><strong>Apex America</strong><br>
          Agente Claro Tecnica Nocturna<br>
          2020 - actualmente<br>
          Cordoba - Argentina
        </p>
      </span>
    </div>          
  </div>
<!--FIN DE EXPERIENCIA LABORAL-->
<!--INICIO DE EXPERIENCIA LABORAL-->
<div class ="row">
  <div class="col-auto" >
    <img src="../../../assets/cos.png" id="margenimagenes" width="100" height="50" alt="COS Colombian Outsourcing Solutions Logo">
  </div>
  <div class="col-auto" id="detalle">
    <span>
      <p><strong>Colombian Outsourcing Solutions</strong><br>
        Ingeniero en Soporte - Claro movil<br>
        2016 - 2018<br>
        Bogota - Colombia
      </p>
    </span>
  </div>          
</div>
<!--FIN DE EXPERIENCIA LABORAL-->
<!--INICIO DE EXPERIENCIA LABORAL-->
<div class ="row">
  <div class="col-auto" >
    <img src="../../../assets/halliburton.png" id="margenimagenes" width="100" height="50" alt="Halliburton">
  </div>
  <div class="col-auto" id="detalle">
    <span>
      <p><strong>Halliburton</strong><br>
        Auxiliar de Soporte Tecnico<br>
        2015 - 2016<br>
        Bogota - Colombia</p>
    </span>
    
  </div>          
</div>
<!--FIN DE EXPERIENCIA LABORAL-->
</div>
