<div id="exper">
  <!--Experiencias-->
  <h1>Experiencia</h1>
  <!--INICIO DE EXPERIENCIA LABORAL-->
  <div class ="row">
    <div class="col-auto" id="margenimagenes">
      <img src="https://ii.ct-stc.com/5/logos/empresas/2021/07/28//apexamerica125922thumbnail.png" alt="APEX America" title="APEX America" width="100" height="50">
    </div>
    <div class="col-auto">
      <strong>Apex America</strong><br>
      Agente Claro Tecnica Nocturna<br>
      2020 - actualmente<br>
      Cordoba - Argentina<br>
    </div>          
  </div>
<!--FIN DE EXPERIENCIA LABORAL-->
<!--INICIO DE EXPERIENCIA LABORAL-->
<div class ="row">
  <div class="col-auto" id="margenimagenes">
    <img src="https://img.shgstatic.com/clutchco-static/image/scale/65x65/s3fs-public/logos/81c6d025268ae3ee6ce801414940adbc.png" alt="COS Colombian Outsourcing Solutions Logo" width="100" height="50">
  </div>
  <div class="col-auto">
    <strong>Colombian Outsourcing Solutions</strong><br>
    Ingeniero en Soporte - Claro movil<br>
    2016 - 2018<br>
    Bogota - Colombia<br>
  </div>          
</div>
<!--FIN DE EXPERIENCIA LABORAL-->
<!--INICIO DE EXPERIENCIA LABORAL-->
<div class ="row">
  <div class="col-auto" id="margenimagenes">
    <img src="https://scontent.fcor11-2.fna.fbcdn.net/v/t1.18169-9/24068324_10154976930357617_181377873125154458_n.png?_nc_cat=105&amp;ccb=1-7&amp;_nc_sid=09cbfe&amp;_nc_ohc=yJ-L_p0TWu8AX-rDmyE&amp;_nc_ht=scontent.fcor11-2.fna&amp;oh=00_AT-Vnoc6Q8efpOPbSjLUnRv4RjtqG8vYn4bGsKn6DT2u8Q&amp;oe=632E9ECD" alt="Halliburton" width="100" height="50">
  </div>
  <div class="col-auto">
    <strong>Halliburton</strong><br>
    Auxiliar de Soporte Tecnico<br>
    2015 - 2016<br>
    Bogota - Colombia<br>
  </div>          
</div>
<!--FIN DE EXPERIENCIA LABORAL-->
</div>
