<!--perfil y acerca de-->

<div class="container-fluid" >
  <div class="row" id="bg-presentacion"> 
    <div class="col" >
      <div class="row" >
        <img src="../../../assets/fotoperfil.jpg" class="rounded-start" id="perfilfoto" alt="fotodeperfil">
      </div>
      <div class="row">
        <h5 class="card-title">Sebastian Sierra</h5>
            <p class="card-subtitle">Full Stack Developer Jr</p>
            <p class="card-text"><small class="text-muted">Cordoba (Argentina)</small></p>
      </div>
    </div>
    <div class="col">
      <h5 class="card-title">Acerca De</h5>
            <p class="card-text">Estudiante de Computacion</p> 
    </div>
  </div>
</div>