#bg-presentacion{
    background-color: aqua;
    border-radius: 0.5rem;
}
#nombre{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tituloacercade{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
#perfilfoto{
    margin-top: 10%;
    margin-bottom: 10%;
}