<!--perfil y acerca de-->

<div class="container-fluid" >
  <div class="row" id="bg-presentacion"> 
    <div class="col-xs-8 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/fotoperfil1.jpg" class="img-fluid" id="perfilfoto" alt="fotodeperfil">
    </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3" id="nombre">
        <h5>Sebastian Sierra</h5>
          <p>Full Stack Developer Jr</p>
          <p><small class="text-muted">Cordoba (Argentina)</small></p>
      </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
      <span>
        <h5 id="tituloacercade">Acerca De</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt voluptate ex quasi? Id recusandae dolor quibusdam odit nam ut commodi magni doloribus animi illo laboriosam, nihil eos dolorem voluptas.</p>
      </span>
       
    </div>
  </div>
</div>