<!--perfil y acerca de-->

<div class="container-fluid">
  <div class="row border border-dark" id="bg-presentacion"> 
    <div class="col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/fotoperfil1.jpg" class="img-fluid shadow-lg rounded" id="perfilfoto" alt="fotodeperfil">
    </div>
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3">
        <span id="detalle">
          <h3 id="nombre">Sebastian Sierra</h3>
          <p>Full Stack Developer Jr</p>
          <p><small class="text-muted">Cordoba (Argentina)</small></p>
        </span>        
      </div>
    
    <div class="col-xs-12 col-sm-7 col-md-8 col-lg-7">
      <span id="detalleacercade">
        <h2 id="nombre">Acerca De</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt voluptate ex quasi? Id recusandae dolor quibusdam odit nam ut commodi magni doloribus animi illo laboriosam, nihil eos dolorem voluptas.</p>
      </span>
       
    </div>
  </div>
</div>