<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4" id="recuadro">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [titleFontSize]="'30'"
        [subtitle]="'HTML'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
    ></circle-progress>
    
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" id="recuadro">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [titleFontSize]="'30'"
        [subtitle]="'CSS'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
    ></circle-progress>
    
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" id="recuadro">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [titleFontSize]="'30'"
        [subtitle]="'GitHub'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
    ></circle-progress>
    
    </div>    
</div>